/**
 * _site-wide-styles
 */

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

a {
	text-decoration: none;
	font-weight: bold;
	color: $darkFont;

	&:hover {
		.hover-effect {
			color: #FF2400 !important;
		}
	}
}

#content {
	width: 100%;
	background: $lightBgColor;
}

