/**
 * _typography.scss
 */

html {
    font-size: 62.5%; /* sets root font size to ~10px */
}

@media (min-width: $smallDeviceMin) and (orientation: portrait) {
	html {
		font-size: 95%;
	}
}

@media (min-width: $mediumDeviceMin) {
	html {
		font-size: 100%;
	}
}

/**  Verticla Rhythm
 ---------------------------------------------------- */

body {
	font-size: 1.6rem;  /* 16 px base font size */
	font-family: 'Ubuntu', sans-serif;
}

p {
	font-size: 1em; /* 16px */
	line-height: 1.5em; /* 24 px */
	margin: 0 0 1.5em 0;
}

.h1 {
	font-size: 1.5em; /* 32px */
	line-height: 1em; /* 24px */
	margin: 1em 0;
}


/**  Fonts
 ---------------------------------------------------- */

@font-face {
    font-family: 'ImpactRegular';
    src: url('../fonts/impact-webfont.eot');
    src: url('../fonts/impact-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/impact-webfont.woff') format('woff'),
         url('../fonts/impact-webfont.ttf') format('truetype'),
         url('../fonts/impact-webfont.svg#ImpactRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}