/**
 * _typography.scss
 */

html {
    font-size: 62.5%; /* sets root font size to ~10px */
    font-family: 'Ubuntu', sans-serif;
}


@font-face {
  font-family: 'Impact';
  src: url('fonts/impact.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('impact.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}