/**
 * _typography.scss
 */

$lightBgColor: #fefefa;

$headerFont: 'ImpactRegular', sans-serif;
$baseFont: 'Ubuntu', sans-serif;

$lightFont: #474747;
$darkFont: #000000;

$smallDeviceMin: 480px;
$mediumDeviceMin: 768px;
$largeDeviceMin: 1224px;
$veryLargeDeviceMin: 1824px;